@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;600;700&family=JetBrains+Mono:wght@500;700&display=swap");
@import "tailwindcss";

@theme {
	--color-background: #0a0a0a;
	--color-surface: #121414;
	--color-surface-low: #1b1c1c;
	--color-surface-high: #292a2a;
	--color-surface-highest: #343535;
	--color-border: #222222;
	--color-border-muted: #343535;
	--color-primary: #00ff87;
	--color-primary-dim: #00e478;
	--color-error: #ff4444;
	--color-text: #e3e2e2;
	--color-text-muted: #888888;
	--color-text-accent: #b9cbb9;

	--font-sans: "Geist", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
}
